<% friends = @user.friends %>
<div style="font-size:21px" class="margin-bot-1"><i class="fas fa-user-friends"></i> Friend List </div>
<% if friends.empty?%><div>You don't have any friends yet! Please start by searching for users through the search bar above.</div><% end %>
<% for friend in friends%>
	<div >
		<!--desktop view -->
		<%= link_to "#{friend.fname} #{friend.lname}", user_path(friend) %>
		<%= form_tag user_friendship_path(@user,id:1), method: :delete,style:'display:inline-block;',data: { confirm: "Are you sure to unfriend with #{friend.fname} #{friend.lname}?" },class:"hidden-md hidden-sm hidden-xs",remote: true do %>
		  <%= hidden_field_tag :friend_remover, @user.id%>
		  <%= hidden_field_tag :friend_removee, friend.id %>
		  <%= hidden_field_tag :decision, "unfriend" %>
		  <%= button_tag 'Remove Friend',class:'cta' %>
		<% end %>
		<%= form_tag user_friendship_path(@user,id:1), method: :delete,style:'display:inline-block;',data: { confirm: "Are you sure to block #{friend.fname} #{friend.lname}? This action will also do unfriending." },class:"hidden-md hidden-sm hidden-xs",remote: true do %>
		  <%= hidden_field_tag :friend_remover, @user.id%>
		  <%= hidden_field_tag :friend_removee, friend.id %>
		  <%= hidden_field_tag :blockee_id, friend.id %>
		  <%= hidden_field_tag :decision, "block" %>
		  <%= button_tag 'Block Friend',class:'cta' %>
		<% end %>
		<!--mobile view -->
		<%= form_tag user_friendship_path(@user,id:1), method: :delete,style:'display:inline-block;',data: { confirm: "Are you sure to unfriend with #{friend.fname} #{friend.lname}?" },class:"hidden-lg",remote: true do %>
		  <%= hidden_field_tag :friend_remover, @user.id%>
		  <%= hidden_field_tag :friend_removee, friend.id %>
		  <%= hidden_field_tag :decision, "unfriend" %>
		  <%= button_tag '<i class="fas fa-user-times"></i>'.html_safe,class:'cta',title:'Remove Friend' %>
		<% end %>
		<%= form_tag user_friendship_path(@user,id:1), method: :delete,style:'display:inline-block;',data: { confirm: "Are you sure to block #{friend.fname} #{friend.lname}? This action will also do unfriending." },class:"hidden-lg",remote: true do %>
		  <%= hidden_field_tag :friend_remover, @user.id%>
		  <%= hidden_field_tag :friend_removee, friend.id %>
		  <%= hidden_field_tag :blockee_id, friend.id %>
		  <%= hidden_field_tag :decision, "block" %>
		  <%= button_tag '<i class="fas fa-user-slash"></i>'.html_safe,class:'cta',title:'Block Friend' %>
		<% end %>
	</div>
<%end%>
<br/>
