<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

    <% if @user == @logged_in_user %>
      <%= form_for(@user) do |f| %>

        <%= f.label :fname %>
        <%= f.text_field :fname, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :address %>
        <%= f.text_field :address, class: 'form-control' %>

        <%= f.label :phonenum %>
        <%= f.text_field :phonenum, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>



        <%= f.submit "Save changes"class: "btn btn-primary" %>
      <% end %>
    <% else %>
        <p> You are not authorized to view this page </p>
    <% end %>

