<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<p style="font-size:21px"><%= @user.fname.capitalize %> <%= @user.lname.capitalize %></p>
			<div style="font-size:14px;color: #657786;"><i class="fa fa-calendar" aria-hidden="true"></i> <%= @user.created_at.strftime("Joined %B %Y")%></div>
			<br>
			<% if @user != @logged_in_user %>
			<div><%= button_to 'Send Message', conversations_path(sender_id: @logged_in_user.id, recipient_id: @user.id), method: :post,class:'cta ProfileMessagingActions' %></div>
			<% end %>
			
		<% if @user == @logged_in_user %>
			<p>
			<%= link_to 'Manage items >', user_items_path(@user) %>
			</p>
			<p>
			<%= link_to 'Manage notification preferences >', user_notification_path(@user.id, @notification.id)%>
			</p>
			<p>
			<%= link_to 'Edit user information', edit_user_path(@user)%>
			</p>
			<p>
			<%= link_to "Your Messages", conversations_path %>
			</p>
			<p>
			<%= link_to "Reviews from others", user_review_borrowers_path(@user.id) %>
			</p>
		<% else %> 
			<%= link_to 'View items >', user_items_path(@user) %>
			</p>
			<p>
			<%= link_to "View reviews >", user_review_borrowers_path(@user.id) %>
			</p>
		<% end %>
		</div>
		
		<div class="col-xs-12 col-md-4">
			For all items? or just friend items?
		</div>
	<div class="col-xs-12 col-md-4 margin-bot-2">
		<% if @user == @logged_in_user %>
		<div id="friend_request_list" class="sticky-note"style="max-height:140px;overflow-y: scroll;">
			<%= render  "friendships/friend_requests"%>
		</div>
		<br>
		<div id="friend_list" class="sticky-note" style="max-height:140px;overflow-y: scroll;">
			<%= render  "friendships/friends"%>
		</div>
		<br>
		<div id="block_list" class="sticky-note" style="max-height:140px;overflow-y: scroll;">
			<%= render  "friendships/blocks"%>
		</div>
		<%end%>
		
	</div>
</div>
</div>