<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4 margin-bot-2">

			<div class="sticky-note">
				<p style="font-size:21px"><%= @user.fname.capitalize %> <%= @user.lname.capitalize %></p>
				<div style="font-size:16px;color: #657786;"><i class="fa fa-calendar" aria-hidden="true"></i>
					<%= @user.created_at.strftime("Joined %B %Y")%>
				</div>
			</div>
			<br>
			<div class="sticky-note">
				<% if @user != @logged_in_user %>
					<div style="font-size:21px" class="margin-bot-1"><i class="fas fa-eye"></i> View </div>
				<% else %>
					<div style="font-size:21px" class="margin-bot-1"><i class="fas fa-user-cog"></i> Management </div>
				<% end %>
				<% if @user.admin == true and @user == @logged_in_user%>
					<p><%= link_to 'Edit admin user information >', edit_user_path(@user)%></p>
					<p><%= link_to "Your Messages >", conversations_path %></p>
					<p><%= link_to "Pending Reports >", report_user_path %></p>
					<p><%= link_to "View All Items >", items_path %></p>
					<p><%= link_to "View All Users >", users_path %></p>
				<% elsif @user == @logged_in_user %>
					<p><%= link_to 'Manage items >', user_items_path(@user) %></p>
					<p><%= link_to 'Manage notification preferences >', user_notification_path(@user.id, @notification.id)%></p>
					<p><%= link_to 'Edit user information >', edit_user_path(@user)%></p>
					<p><%= link_to "Your Messages >", conversations_path %></p>
					<p><%= link_to "Reviews from others >", user_review_borrowers_path(@user.id) %></p>
				<% else %>
					<p><%= link_to 'View items >', user_items_path(@user) %></p>
					<p><%= link_to "View reviews >", user_review_borrowers_path(@user.id) %></p>
				<% end %>
			</div>
			<br>
		</div>

		<div class="col-xs-12 col-md-4 margin-bot-2">
			<div class="sticky-note scrollbar" style="max-height:460px;">
			For all items? or just friend items?
			</div>
		</div>

		<div class="col-xs-12 col-md-4 margin-bot-2">
			<% if @user == @logged_in_user and @user.admin == false%>
				<div id="friend_request_list" class="sticky-note scrollbar" style="max-height:140px;">
					<%= render  "friendships/friend_requests"%>
				</div>
				<br>
				<div id="friend_list" class="sticky-note scrollbar" style="max-height:140px;">
					<%= render  "friendships/friends"%>
				</div>
				<br>
				<div id="block_list" class="sticky-note scrollbar" style="max-height:140px;">
					<%= render  "friendships/blocks"%>
				</div>
			<%end%>
		</div>
	</div>
</div>
