<%= form_tag(users_path, method: :get) do %>
    <%= text_field_tag :name, params[:name], placeholder: "Search user name" %>
    <%= submit_tag 'Search ', name: nil %>
<% end %>
<% if not @users.present? %>
	<% if params[:name].present? and @users.blank?%>
		<div>
			We couldn't find any user name for 
			<span>	<%=params[:name] %> </span>
		</div>
	<% end %>
<% else %>
	<% for user in @users%>
 		<div>
			<!--should be directed to user profile page later -->
			<%= link_to "#{user.fname} #{user.lname}", user_path(user) %> 
	 	</div>
 	<% end %>
<% end %>

