<h1>Main page</h1>

<p>Testing borrowed items list - assuming a user has logged in</p>
<%= link_to 'See items borrowed by this user', user_path(@user) %>

<%= link_to 'About', page_path('about') %> <br>
<%= link_to 'Terms of Services', page_path('tos') %> <br>
<%= link_to 'Privacy Policy', page_path('privacy') %> <br>
<%= link_to 'FAQ', page_path('faq') %> <br>