<h1>
	<%= @time %>
	<%=@user.fname.capitalize%>
</h1>

<div id="search_user_list">
<%= render  "users/search_user" %>
</div>
<br/>

<div id="friend_request_list">
	<%= render  "friendships/friend_requests"%>
</div>
<br/>

<div id="friend_list">
	<%= render  "friendships/friends"%>
</div>

<%= link_to 'Go to your personal page', user_path(@user) %> <!-- login should bring user to this path -->
