<div class="container">
<h1><%= @user.fname %>'s personal page</h1>

<% if @user == @logged_in_user %>
	<p> Name: <%= @user.fname %> <%= @user.lname %> </p>
	<p> Email Address: <%= @user.email %> </p>
	<p> Address: <%= @user.address %> </p>
	<p> Telephone number: <%= @user.phonenum %> </p>
	<p>
	<%= link_to 'Manage items >', user_items_path(@user) %>
	</p>
	<p>
	<%= link_to 'Manage notification preferences >', user_notification_path(@user.id, @notification.id)%>
	</p>
	<p>
	<%= link_to 'Edit user information', edit_user_path(@user)%>
	</p>
	<p>
	<%= link_to "Your Messages", conversations_path %>
	</p>
	<p>
	<%= link_to "Reviews from others", user_review_borrowers_path(@user.id) %>
	</p>
<% else %> 
	<p> Name: <%= @user.fname %> <%= @user.lname %> </p>
	<p> Email Address: <%= @user.email %> </p>
	<p> Address: <%= @user.address %> </p>
	<p> Telephone number: <%= @user.phonenum %> </p>
	<p>
	<%= link_to 'View items >', user_items_path(@user) %>
	</p>
	<p>
	<%= link_to "View reviews >", user_review_borrowers_path(@user.id) %>
	</p>
<% end %>
</div>