<h2>Items you've borrowed</h2>
<div class="table-responsive">
<% if @borrowed_items.length > 0 %>
<table class="table">
  <thead>
  <tr>
    <th>Item name</th>
    <th>Description</th>
    <th>Due date</th>
    <th>Contact owner</th>
    <th colspan="2">Action/Status</th>
  </tr>
</thead>
<tbody>
  <% @borrowed_items.each do |item| %>
    <% @owner = User.find(item.i_uid) %>
    <tr>
      <td><%= link_to item.name, item_path(item.item_id) %></td>
      <td><%= item.descr %></td>
      <td><%= item.due_date.strftime("%Y-%m-%d") %></td>
      <td><%= link_to "#{@owner.fname} #{@owner.lname}", conversations_path(sender_id: @user.id, recipient_id: @owner.id), method: "post"%></td> <%# link to user profile OR invoke messanger %>
      <%if item.returned_on == nil%>
      <td>
        <%= link_to 'Confirm return', new_user_review_lender_and_item_path(user_id: @user.id, item_id: item.item_id, lender_id: @owner.id), class: "btn btn-primary"%><br/>
        <%if item.approved == nil %><%= link_to 'Send due date extension', edit_user_borrowed_item_path(user_id: @user.id, id: item.item_id), class: "btn btn-primary"%>
        <%elsif item.approved != "Approved" %> due date extension <%= item.approved.downcase %>
        <%end%>
        </td>
      <% else %>
        <td colspan="2">
          Lender has not confirmed your return yet
        </td>
      <%end%>
    </tr>
  <% end %>
  </tbody> 
</table>
<% else %>
  <p>You don't have any borrowed items</p>
<%end%>
</div>