   <%= form_for([ @user, @on_hold_item ]) do |form| %>
    <p>
      <%= form.label 'I would like to borrow this item until:' %><br>
      <%= form.date_select(:due_date, :order => [:month, :day, :year]) %>
      <%= form.hidden_field(:user_id, :value => @user.id) %>
      <%= form.hidden_field(:item_id , :value => @item.id) %>
      <%= form.hidden_field(:req_on, :value => Time.now.strftime('%d/%m/%Y')) %>
      <%= form.hidden_field(:from, :value => 'itemIndex') %>
    </p>
    <p>
      <%= form.submit 'Send borrow request' %>
    </p>
  <% end %>