<div>
  <%= form_with(model: [ @user, @item ], local: true) do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :images %><br>
      <%= form.file_field :images, multiple: true  %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :descr %>
    </p>
    <p>
      <%= form.label :status %><br>
      <%= form.text_area :status %>
    </p>

    <p>
      <%= form.label :category %><br>

      <%= form.select :category, [['Accessories', 'Accesories'],['Art', 'Art'],['Bath & Beauty', 'Bath & Beauty'], ['Books, Films & Music', 'Books, Films & Music'],
    ['Clothing', 'Clothing'], ['Craft Supplies & Tools', 'Craft Supplies & Tools'], ['Electronics', 'Electronics'],
    ['Home & Living', 'Home & Living'], ['Office Tools', 'Office Tools'], ['Pet Supplies', 'Pet Supplies'], ['Toys & Games', 'Toys & Games']] %>
    </p>

    <p>
      <%= form.label :address %><br>

      <%= form.text_area :address %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>
