<h2>Your Items others have requested to borrow</h2>

<% if @lend_items.length > 0 %>
  <% if @pending_items.length > 0 %>
    <h3>Pending Requests</h3>
    <table>
      <tr>
        <th>Item name</th>
        <th>Description</th>
        <th>Requested By</th>
        <th>Requested on</th>
        <th>Requested Return Date</th>
        <th colspan="2">Approval</th>
      </tr>
      <% @pending_items.each do |item| %>
        <tr>
          <td><%= link_to item.name %></td>
          <td><%= item.descr %></td>
          <td><%= User.find_by_id(item.user_id).fname %></td>
          <td><%= item.req_on.strftime("%Y-%m-%d") %></td>
          <td><%= item.due_date.strftime("%Y-%m-%d")%></td>
          <td>
            <%= button_to 'Approve Request', user_on_hold_item_update_request_status_path(:on_hold_item_id => item.id, :result => "approved"), method: :put %>
            <%= button_to 'Deny Request', user_on_hold_item_update_request_status_path(:on_hold_item_id => item.id, :result => "denied"), method: :put  %>
          <td>
        </tr>
    <% end %>
    </table>
  <% end %>
  <% if @approved_items.length > 0 %>
  <h3>Approved Requests/ On Loan</h3>
  <table>
    <tr>
      <th>Item name</th>
      <th>Description</th>
      <th>Requested By</th>
      <th>Requested on</th>
      <th>Requested Return Date</th>
      <th>Approved Return Date</th>
      <th colspan="1"></th>
    </tr>
    <% @approved_items.each do |item| %>
    <tr>
      <td><%= link_to item.name %></td>
      <td><%= item.descr %></td>
      <td><%= User.find_by_id(item.user_id).fname %></td>
      <td><%= item.req_on.strftime("%Y-%m-%d") %></td>
      <td><%= item.due_date.strftime("%Y-%m-%d")%></td>
        <% borrowed_item = BorrowedItem.find_by_item_id(item.item_id)%>
        <% if borrowed_item == nil %>
          <td>
            <!-- add confirm return button here -->
               <%= link_to 'Confirm Pickup', new_user_borrowed_item_path(:user_id => item.user_id,:on_hold_item_id => item.id) %>
          </td>
        <% else %>
           <td>
            <%= borrowed_item.due_date.strftime("%Y-%m-%d") %>
          </td>
          <% if borrowed_item.returned_on != nil%>
            <td><%= link_to 'Confirm return', new_user_review_borrower_path(:user_id => @user.id,:item_id => item.item_id, :borrower_id => borrowed_item.user_id) %></td>
           <%#else%>
           <% end %>
        <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
<% else %>
  <p>There are no items that require your attention</p>
<% end %>
