<h1>Manage Items</h1>

<%= render  "items/show_user_items" %>

<%= render  "items/lend_items" %>

<%= render  "items/borrowed_items" %>

<%= render  "items/on_hold_items" %>

<%= render  "items/wish_items" %>