<h2>Items you've requested to borrow</h2>

<% if @on_hold_items.length > 0 %>
<table>
  <tr>
    <th>Item name</th>
    <th>Description</th>
    <th>Item status</th>
    <th>Requested on</th>
    <th>Proposed due date</th>
    <th>Approval status</th>
    <th colspan="2"></th>
  </tr>

  <% @on_hold_items.each do |item| %>
    <%# bi = BorrowedItem.find_by_item_id(item.item_id)%>
    <%#if bi && bi.approved != "Approved"%>
    <tr>
      <td><%= link_to item.name, item_path(item.item_id)%></td>
      <td><%= item.descr %></td>
      <td><%= item.status %></td>
      <td><%= item.req_on.strftime("%Y-%m-%d") %></td>
      <td><%= item.due_date.strftime("%Y-%m-%d") %></td>
      <td><%= item.approved%></td>
      <td>
        <%if item.approved != "Approved"%>
        <%= link_to 'Cancel request', user_on_hold_item_path(item.user_id, item.item_id), method: :delete,
              data: { confirm: 'Are you sure?' }%>         
        <%end%>        
      </td>  <!-- item will be deleted from the list -->
    </tr>
    <%#end%>
  <% end %>
</table>
<%else%>
  <p>You don't have any on-hold requests</p>
<%end%>