<h1>Manage Items</h1>


<%= render "items/filterrific_search" %>

<%= render  "items/search_item" %>


<%= render  "show_user_items" %>


<%= render  "borrowed_items" %>

<%= render  "on_hold_items" %>

<%= render  "wish_items" %>

<%= render  "lend_items" %>
