<h1>items <%= @user.fname %> has borrowed</h1>

<table>
  <tr>
    <th>Item name</th>
    <th>Description</th>
    <th colspan="3"></th>
  </tr>

  <% @borrowed_items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.descr %></td>
      <td><%= link_to 'Show' %></td>
      <td><%= link_to 'Edit'%></td>
      <td><%= link_to 'Destroy' %></td>
    </tr>
  <% end %>
</table>
