<!--for both /items & /users/:id/items views -->
<%= render "items/filterrific_search" %>

<%= render  "items/search_item" %>


<!-- user specific view for /users/:id/items -->
<%if @user && session[:user_id] && session[:user_id] == @user.id%>
<h1>Manage Items</h1>

<%= render  "show_user_items" %>

<%= render  "lend_items" %>

<%= render  "borrowed_items" %>

<%= render  "on_hold_items" %>

<%= render  "wish_items" %>
<%end%>