<!--for both /items & /users/:id/items views -->
<%= render "items/filterrific_search" %>

<%= render  "items/search_item" %>


<!-- user specific view for /users/:id/items -->
<%if @user && session[:user_id] && session[:user_id] == @user.id%>
	<% if flash[:success_msg] %>
		<div class="alert alert-success"><%= flash[:success_msg] %></div>
	<% elsif flash[:failure_msg]%>
		<div class="alert alert-danger">
	    	<% if @wish_item.errors.any?%>
			    <% @wish_item.errors.each do |attr,error| %>
			      <p class="text-center"><%= error %></p>
			    <% end %>
		    <% elsif @borrowed_item.errors.any?%>
			    <% @borrowed_item.errors.each do |attr,error| %>
			      <p class="text-center"><%= error %></p>
			    <% end %>
			<% elsif @item.errors.any?%>
			    <% @item.errors.each do |attr,error| %>
			      <p class="text-center"><%= error %></p>
			    <% end %>
		    <%end%>
	  	</div>
	<%end%>
	<div id="user_items"><%= render  "items/manage_items_view" %></div>
<%elsif @user%>
	<div id="items"><%= render "items/user_item_public_view" %></div>
<%end%>