<h1><%= @item.name %> is here </h1>
<% @owner = User.find(@item.user_id)%>
<p>contact owner: <%= link_to "#{@owner.fname} #{@owner.lname}", conversations_path(sender_id: @user.id, recipient_id: @owner.id), method: "post"%> </p> <!-- should link to message -->

<!-- item profile here -->
<div id="item_profile">
	<%= render partial: 'item_profile' %>
</div>


<!-- debugging purposes -->
<%if !@user.errors %>
<div>
	<p>DB Error msg: </p>
	<%= @user.errors.full_messages%>
</div>
<%end%>

<!-- only allow other users to wishlist/send borrow request -->
<div id="user_actions">
	<%= render partial: 'user_actions_for_item' %>
</div>


<p><%= link_to '< To search items', items_path %></p>
<%if session[:user_id] && session[:user_id] == @user.id%>
<p><%= link_to '< To manage items' , user_items_path(@user.id)%></p>
<%end%>
