<!DOCTYPE html>
<html>
	<body>
		<!-- debugging purposes -->
		<%if !@user.errors %>
		<div>
			<p>DB Error msg: </p>
			<%= @user.errors.full_messages%>
		</div>
		<%end%>

		<div class="container">
		<% @owner = User.find(@item.user_id)%>
		<h1><%= @item.name %></h1> <span class="img-responsive rating-display" data-score="<%= @reviews.average(:rating).to_i %>"></span>
		<p>
			<div><string>Owner:</string> <%= "#{@owner.fname} #{@owner.lname}" %> <%= link_to "[contact]" ,conversations_path(sender_id: @user.id, recipient_id: @owner.id), method: "post"%> </div>

		</p> <!-- should link to message -->

		<!-- item profile here -->
		<div id="item_profile">
			<%= render partial: 'item_profile' %>
		</div>

		<!-- only allow other users to wishlist/send borrow request -->
		<div id="user_actions">
			<%= render partial: 'user_actions_for_item' %>
		</div>
		<!-- show all reviews for this item from borrower -->
		<div id="review_sections" >
			<%= render partial: 'review_lender_and_items/item_reviews_from_borrower' %>
		</div>
		<p><%= link_to '< To search items', items_path, class: "btn btn-default" %></p>
		<%if session[:user_id] && session[:user_id] == @user.id%>
		<p><%= link_to '< To manage items' , user_items_path(@user.id), class: "btn btn-default"%></p>
		<%end%>
		</div>
	</body>
</html>