<h1><%= @item.name %> <%= @item.id %> is here </h1>
<p>contact owner: <%= @user.fname%>, <%= link_to @user.email%> </p> <!-- should link to message -->

<!-- item profile here -->
<% @item.images.each do |image| %>
<p>
	<%= image_tag(image) %>
</p>
<% end %>
<p>Description: <%= @item.descr %></p>


<!-- debugging purposes -->
<%if !@user.errors %>
<div>
	<p>DB Error msg: </p>
	<%= @user.errors.full_messages%>
</div>
<%end%>

<!-- only allow other users to wishlist/send borrow request -->
<div id="user_actions">
	<%= render partial: 'user_actions_for_item' %>
</div>


<p><%= link_to 'Back', :back %><%#= link_to 'Back to manage items' , user_items_path(@user.id)%></p>
