<div class= "center-block">
	<div class="swipe_images">
<% if @item.images.length > 0%>
	<% @item.images.each do |image| %>
		<%= image_tag(image, class: "img-responsive") %>
	<%end%>
<%else%>
	<%= image_tag("No_Image_Available.jpg", class: "img-responsive") %>
<% end %>

<p>Description: <%= @item.descr %></p>
<%if @item.street != nil %>
<p>Preferred location of transaction: <%= @item.city %></p>

<%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@item.latitude},#{@item.longitude}&markers=#{@item.latitude},#{@item.longitude}&zoom=15&size=640x400&key=AIzaSyB8VOIlsN2jBMd3C1NcWJPDId1OW64R3mQ",
              class: 'img-fluid img-rounded', alt: "#{@item.name} on the map"%>
<% end %>
</div>
</div>
