<h2>Your Items others have requested to borrow</h2>

<div class="table-responsive">
<% if @lend_items.length > 0 %>
  <% if @pending_items.length > 0 %>
    <h3>Pending Requests</h3>
    <table class="table">
      <thead>
      <tr>
        <th>Item name</th>
        <th>Description</th>
        <th>Requested By</th>
        <th>Requested on</th>
        <th>Requested Return Date</th>
        <th colspan="2">Approval</th>
      </tr>
     </thead>
     <tbody>
      <% @pending_items.each do |item| %>
        <tr>
          <td><%= link_to item.name %></td>
          <td><%= item.descr %></td>
          <td><%= User.find_by_id(item.user_id).fname %></td>
          <td><%= item.req_on.strftime("%Y-%m-%d") %></td>
          <td><%= item.due_date.strftime("%Y-%m-%d")%></td>
          <td>
            <%= button_to 'Approve Request', user_on_hold_item_update_request_status_path(:on_hold_item_id => item.id, :result => "approved"), method: :put, class: "btn btn-primary" %>
            <%= button_to 'Deny Request', user_on_hold_item_update_request_status_path(:on_hold_item_id => item.id, :result => "denied"), method: :put, class: "btn btn-primary" %>
          <td>
        </tr>
    <% end %>
    </tbody>
    </table>
  <% end %>
  <% if @approved_items.length > 0 %>
  <h3>Approved Requests/ On Loan</h3>
  <table class="table">
    <thead>
    <tr>
      <th>Item name</th>
      <th>Description</th>
      <th>Requested By</th>
      <th>Requested on</th>
      <th>Requested Return Date</th>
      <th>Approved Return Date</th>
      <th colspan="2">Due extension/Ation</th>
    </tr>
    </thead>
    <tbody>
    <% @approved_items.each do |item| %>
    <tr>
      <td><%= link_to item.name %></td>
      <td><%= item.descr %></td>
      <td><%= User.find_by_id(item.user_id).fname %></td>
      <td><%= item.req_on.strftime("%Y-%m-%d") %></td>
      <td><%= item.due_date.strftime("%Y-%m-%d")%></td>
        <% borrowed_item = BorrowedItem.find_by_item_id(item.item_id)%>
        <% if borrowed_item == nil %>
          <td>
            <!-- add confirm return button here -->
               <%= link_to 'Confirm Pickup', new_user_borrowed_item_path(:user_id => item.user_id,:on_hold_item_id => item.id) , class: "btn btn-primary" %>
          </td>
        <% else %>
           <td>
            <%= borrowed_item.due_date.strftime("%Y-%m-%d") %>
          </td>
          <% if borrowed_item.returned_on != nil%>
            <td><%= link_to 'Confirm return', new_user_review_borrower_path(:user_id => @user.id,:item_id => item.item_id, :borrower_id => borrowed_item.user_id) , class: "btn btn-primary" %></td>
           <%elsif borrowed_item.approved == "pending" %>
             <td>
               <%= borrowed_item.temp_due_date.strftime("%Y-%m-%d") %>
             </td>
              <td>
            <%= button_to 'Approve extension', user_borrowed_item_update_ext_status_path(:borrowed_item_id => item.id, :result => "approved"), method: :put , class: "btn btn-primary"%>
            <%= button_to 'Deny extension', user_borrowed_item_update_ext_status_path(:borrowed_item_id => item.id, :result => "denied"), method: :put , class: "btn btn-primary" %>
            <td>
           <%else %>
            <td colspan="2"><%=borrowed_item.approved%></td>
           <% end %>
        <% end %>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
<% else %>
  <p>There are no items that require your attention</p>
<% end %>
</div>
